@import url('https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap');

body {
    color: #00008B;
    font-family: 'Changa', sans-serif;
    background-color: black;
    margin-top: 40px;
    margin-bottom: 40px;
}

#b {
    background-color:#21A1FE;
    padding: 20px;
    border-radius: 25px;
}

p {
    font-size: 20px;
}

.large-font {
    font-size: 20px;
}

.adapt {
    color: gray;
    font-size: 20px;
}

#adapt_header {
    font-size: 35px;
}

.qtext {
    font-size: 30px;
}

.sci {
    background-color:#FFFACD;
    padding: 20px;
    border-radius: 20px;
    color: black
}

.sci_header {
    font-size: 35px;
}

hr {
    background: black;
    height: 1px;
}

.img_rnd {
    border-radius: 2px;
}

.btn-default {
    border: solid;
    border-width: 1px;
}